.about {
	padding-top: 200px;
	position: relative;
	background-color: #fff;
	padding-bottom: 100px;
	.about__cards {
		display: flex;
		justify-content: space-around;
		.about__item {
			width: 330px;
			.item__title {
				font-size: 33px;
				color: #deb37e;
				font-weight: 700;
			}
			.item__text {
				line-height: 1.3;
				margin-top: 30px;
				font-size: 19px;
				color: #333d42;
			}
		}
	}
	.about__content {
		margin: 0 auto;
		max-width: 800px;
		text-align: center;
		h1 {
			padding-top: 250px;
			font-size: 50px;
			font-weight: 900;
			text-transform: uppercase;
			color: #3f3f3f;
		}
		p {
			color: #3f3f3f;
			font-size: 25px;
			padding-top: 50px;
			padding-bottom: 30px;
		}
		a {
			color: #3f3f3f;
			font-size: 20px;
		}
	}
	.about__shadow {
		bottom: 0px;
		position: absolute;
		transform: rotate(180deg);
		right: 0;
	}
}
