@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
		url("../fonts/Montserrat-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans_SemiCondensed-Bold.woff2") format("woff2"),
		url("../fonts/OpenSans_SemiCondensed-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans_SemiCondensed-ExtraBold.woff2") format("woff2"),
		url("../fonts/OpenSans_SemiCondensed-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans_SemiCondensed-Medium.woff2") format("woff2"),
		url("../fonts/OpenSans_SemiCondensed-Medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans_SemiCondensed-MediumItalic.woff2") format("woff2"),
		url("../fonts/OpenSans_SemiCondensed-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
